.col{
    padding-top: 40px;
  }
  input {
    background:transparent;
    border: 1px solid gray;
    padding: .8em .7em;
    height: 46px;
    border-radius: 20px;
    outline: none !important;
    font-size: 14px;
    color:#e5eaf5;
  }
  .btn{
    border-radius: 0 20px 20px 0;
    height: 46px;
  }
  input::placeholder{
    color:#e5eaf5;
  }